API_KEY="H#nImhPt]aM%T_t7%r5Tt4uV7F-pD*p<)BY/[FbtevAFLlh!F*V_Z"
DB_NAME="library.db"
PROXY_TEST_URL=https://linkedin.com/
LOGS_FILE=app.log
LINKEDIN_SEVER_ADDRESS=http://127.0.0.1:45121
LINKEDIN_DEFAULT_EMAIL=libelaft@aol.com
LINKEDIN_DEFAULT_PASSWORD=diDZ3y1hT
LINKEDIN_SECONDARY_EMAIL=destinyperez94@aol.com
LINKEDIN_SECONDARY_PASSWORD=cG9A2rjOv
LINKEDIN_ACCOUNTS_LIST=libelaft@aol.com:diDZ3y1hT,quytch@aol.com:wVG5Ztjc7
LINKEDIN_PROXIES_LIST=142.44.223.144:80:phebwcby-1:v48kq59u7snm,142.44.223.144:80:phebwcby-2:v48kq59u7snm
LINKDEIN_TEST_PROXY=168.235.86.246:37493
LINKEDIN_TEST_PROXY_USER=5Cb2n5
LINKEDIN_TEST_PROXY_PASS=2QXjTv
LINKEDIN_TEST_FEEDS=https://www.linkedin.com/feed/update/urn:li:activity:6492467023828779008/
HOMEPAGE_URL=https://www.linkedin.com/uas/login?trk=guest_homepage-basic_nav-header-signin
LOGIN_URL=https://www.linkedin.com/checkpoint/lg/login-submit
CHECKPOINT_URL=https://www.linkedin.com/checkpoint/challenge/verify
# admin user/pass for testing api at /linkedin_api_tester
ADMIN_USER=
ADMIN_PASS=
#FLASK_DEBUG=true